* {
    max-width: 100%;
   
    box-sizing: border-box;
    background-color: rgb(252, 211, 150);
}

.titulo {
    text-align: center;
    margin: 15px;
    padding: 10px;
    background-color: rgba(241, 144, 53, 0.74);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZL6Ycnsb-dTTmBYArFkrocUgJHZ7tSwUitw&s");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 72px;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    display: block;
    justify-content: space-between;
    text-align: center;
}

.button {
    background-color:  rgba(241, 144, 53, 0.74);
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.781);
    border-radius: 8px 8px 8px 8px;
    padding: 8px;
    margin-top: 40px;
    margin-bottom: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.b1 {
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.781);
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.produto{
    margin:5px
}

#container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-items: center;
}


.body{
    padding-bottom: 50px;
    min-height: 100vh;
}