* {
    max-width: 100%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(163, 149, 138);
}

.titulo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(63, 37, 37);
    font-weight: bold;
    padding: 15px;
    margin-left: 105px;
    margin-right: 105px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-size: 35px;
}

.link {
    display: flex;
    justify-content: space-evenly;
    font-size: 8px;
}