* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.l1 {
    text-align: center;
    margin: 15px;
    padding: 10px;
    background-color: rgba(175, 161, 151, 0.74);
    background-image: url("https://t3.ftcdn.net/jpg/07/80/85/18/360_F_780851826_HJavVlz4nCaxM5jtCeS9oYK5hDfKwpA6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 180px;
}


.p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-self: center;
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 214, 127);
    box-shadow: 10px 10px 5px 0px rgb(192, 192, 185);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    max-width: 500px;
    max-height: 600px;
}

.footer {
    background-image: url('https://t4.ftcdn.net/jpg/01/91/80/35/360_F_191803592_gh6NUpw9BO4HPw9oDop6ZafAR7rqM0Ps.jpg'); 
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center;
    min-height: 100px; 
    border: 5px solid  rgba(175, 161, 151, 0.74);
}

body {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

#container {
    flex: 1;
}